{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ], 
  "rules": { 
    "no-useless-escape": "off",
    "prettier/prettier":[
      "warn",
      {
        "arrowParens": "always",
        "semi": true,
        "trailingComma": "none",
        "tabWidth": 2,
        "endOfLine": "auto",
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 120,
        "jsxSingleQuote": true
      }
    ],
    "@typescript-eslint/no-empty-function": [
      "error", { 
        "allow": ["arrowFunctions", "constructors"] 
      }
    ],
    "@typescript-eslint/ban-types": ["error",
      {
          "types": {
              "Object": false,
              "object": false,
              "Function": false
          },
          "extendDefaults": true
      }
    ]
  }
}